body {
    font-family: 'Merriweather', serif;
    color: #333333;
    font-size: 1em;
    line-height: 1.25em;
}

h1, h3, h5, a {
    font-family: 'Archivo Narrow', sans-serif;
}

/*Font Styles*/

a {
    color: #004B8E;
    font-size: 1.5em;
}

.underline:hover {
    border-bottom: #F57D2F 3px solid;
}

#donate:hover {
    background-color: #F57D2F;
}

/*Navigation Style*/

h5 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h5 span {
    background: #ffffff;
    padding: 0 10px;
}
/*Header Styles*/

.img-margin {
    margin: 10px;
}

/*index styles*/

.jack {
    float: left;
    padding: 0 15px 0 15px;
}

/*about styles*/
input[type="text"] {
    background-color: rgb(235, 235, 235);
    border: rgb(200, 200, 200) 1px solid;
}

.pay-btn{
    width: 264px;
    height: 50px;
    background-color: white;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.paypal-logo {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.paypal-container{
    margin-top: 15px;
}

.paypal-btn {
    width: 175px;
    height: auto;
}
/*Donate Page Styles*/